@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR', sans-serif;
}

div,
section,
article,
header,
nav,
main,
p,
span,
button,
a,
em,
i {
  font-family: 'Noto Sans KR', sans-serif;
}

strong,
.bold {
  @apply font-bold;
  font-family: 'Noto Sans KR', sans-serif;
}

img {
  @apply inline;
}